<section class="card">
  <a href="/blog/{{id}}">
    <header>title: {{title}}</header>
    <div class="card-contents">
      <p>Contents: {{body}}</p>
      <p>Created by: {{name}}</p>
      <p>Date: {{format_date createdAt}}</p>
    </div>
  </a>
</section>